
.background-col{
  background-color: black;
  margin: 0px;
  padding: 0px;
}

/* footer css */
.back1{
  padding-top:50px;
  background-color: black;
  height: auto;
  

}
.text-back{
  color: white;
  font-family: Roboto;
}
.A{
  font-size: 18px;
}
.B{
  font-size: 13px;
}
.text-col{
  color: #67CBAB;
}

/* Ship page */
.Ship-A{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
}
.Ship-B{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;

}
.Ship-C{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
}
.Mar-t{
  margin-top: 40px;
}
.Mar-bot{
  margin-bottom: 30px;
}
.kuch{
  margin-top: 30px;
  margin-bottom: 45px;
}
.My-Page{
  width: 60%;
  margin-top: auto;
  
}

/* Ship1-page-All-Over-Page */
.Ship1-All-Page{
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.Ship1-A{
  margin-top: 65px;
}
.Ship1-Heading{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 43px;
}
.Ship1-paragraph{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.Ship1-Second-Heading{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
}
.Ship1-Second-Div{
  margin-top:30px ;
}
.Ship1-Second-Paragraph{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 43px;
}
.Ship1-paragraph-New{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.image-Overflow{
  width: 100%;
  overflow: "hidden"

}
.Ship1-Third-Div{
  margin-top: 70px;
  background-color: #F9FAFD;
}
.Ship1-under-Third{
  padding-top: 50px;
  margin: auto;
  width: 55%;
  height: auto;
}
.Third-Div-1{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 130%;
border-style:none none dashed none;
padding-bottom: 10px;
border-color: #677088;
border-width: 1px;
}
.Third-Div-Paragraph{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
}

/* Hypeindustry Css */
.Main{
  background-color: #F9FAFD;
  padding-top: 50px;
}
.Hype-Head{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 48px;
}
.remove-border{
  border: none;
  outline: none;
  border-radius: 0px;
}
.Button-Group{
  margin-top: 30px;
}
.Hype-Head{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 130%;
}
.Hype-Div-1{
  margin: auto;
  width: 43.5%;
  margin-top: 35px;
}
.Hype-Paragraph{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
}
